node_modules/
dist/
.vite/

.env
.env.*

bin/    
obj/

apps/backend/src/api/Firebase/firebase-admin.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

.DS_Store